<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.order.css">
    <title>Maquina de cafe - Ordenes usuario</title>
</head>

<body>
    <div class="order-container">
        <h2>Mis Ordenes</h2>
        <div class="order-info">
            <ul>
                {{#each userOrders}}
                <li>
                    <p class="data">{{drink}} + {{sugar}} azúcar
                        | {{date}}
                        | {{status}}
                        | {{id}}
                    </p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>

</html>