<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.order.css">
    <title>Maquina de cafe - Registro</title>
</head>

<body>
    <div class="order-container">
        {{#if user}}
        <h2>Usuario registrado</h2>

        <div class="order-info">
            <p><strong>Nombre:</strong></p>
            <p class="data">{{user.name}}</p>
            <p><strong>Apodo:</strong></p>
            <p class="data">{{user.nickname}}</p>
            <p><strong>Email:</strong></p>
            <p class="data">{{user.email}}</p>
            <p><strong>Id usuario:</strong></p>
            <p class="data">{{user.id}}</p>
        </div>
        {{else}}
        <h2>Este usuario ya existe</h2>
        {{/if}}
    </div>
</body>

</html>